*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}





/*NAVBAR STYLE STARTS HERE*/

.navbar-container{
    display: flex;
    justify-content: space-around;
    
    padding: 40px;
    align-items: center;
}


.logo-img-container{
    display: flex;
}

.menubar{
    display: flex;
    
    align-items: center;
}




.link-only a{
    margin: 0 12px;
    color: black;
    padding: 10px;
    transition: all 0.4s;
    
}


.link-icon{
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
    
    
}

.link-icon a{
    margin: 0 10px;
    color: black;
}
   
.link-only a:hover{
  
   background-color: black;
   color: white;
   border-radius: 10px;
}





.icon1{
    color: red;
    font-size:20px;
}

.icon2{
    color: black;
    font-size: 20px;
    
}








.img1{
    width: 65px;


}

.logo-title{
    font-size: 30px;
    font-weight: bold;
    padding-left: 12px;
}

.span1{
    color: rgb(233, 8, 83);
}












         /*MENUBAR WORK ISNT FINISH*/



         /*BANNER CONTAINER DESINGING STARS*/



         .banner-container{
            display: flex;
            justify-content: space-around;
        
            align-items: center;
            padding: 50px;
         }




          .heading-play{
            font-size: 30px;
            padding: 10px 0;
        
           }



           .goal-para{
            font-size: 47px;
            font-weight: bolder;
            color:rgb(219, 41, 219);
            padding: 10px 0;
           }
         


            .play-paragraph{
             color: rgb(49, 47, 47);
             padding:8px 0;
             font-weight: bold;
             font-size: 12px;

            }

            
            .btn{
                margin: 10px 5px;
                padding: 15px;
                border: none;
                color: white;
                font-weight: bold;
                background-color: rgb(228, 33, 228);
                border-radius: 10px;
                transition: all 0.4s;
            }


            .btn:hover{
                background-color: black;
            }


            .btn1{
 
                margin: 10px 5px;
                padding: 17px;
                border: none;
                color: white;
                font-weight: bold;
                background-color:rgb(10, 205, 219);
                border-radius:20px;
                transition: all 0.4s;




            }

            .btn1:hover{
                background-color: black;
            }


            .group-img{
                width:420px;
            }



               /*BANNER CONTAINER DESINGING FINIS*/



                  /*ONLINE GAMES CONTAINER DESINGING STARS*/



                    .online-section{
                        text-align: center;
                    }



                  .online-games-container{
                    padding: 50px 80px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                  }












                  .img-on-line{
                    width: 200px;
                    height: 250px;
                    border: 2px solid purple;
                    border-radius: 10px;
                  }

                .img-on-line:hover{
                    box-shadow: 2px 4px 6px 8px black;
                }




                  .img-on-line1{
                    width: 200px;
                    height: 250px;
                    border-radius: 10px;
                    background-image: linear-gradient(45deg,rgb(0, 0, 0),rgba(0, 0, 0, 0.034),black);
                  }

                .img-on-line1:hover{

                     box-shadow: 2px 4px 6px 8px black;
                }









                  .play{
                   font-size: 40px;
                   color:rgb(149, 236, 9);

                  }

                  .play-para{
                    color:rgb(0, 225, 255);
                    font-weight: bolder;
                  }


                  .online-img1{
                    position: relative;

                  }

                .online-play-icon{
                    position: absolute;
                    top: 90px;
                    left: 59px;
                   
                }




                


                 .online-heading{
                    font-size: 30px;
                    font-weight: bold;
                    padding: 10px 0;

                  }

                  .span3{
                    color: rgb(190, 7, 226);
                  }

                  .online-paragraph{
                    font-size: 15px;
                    color: rgba(17, 14, 14, 0.623);
                  }



                  .online-img-paragraph{
                    padding: 5px 0;
                    color: rgba(17, 14, 14, 0.801);
                  }