*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}





/*NAVBAR STYLE STARTS HERE*/

.navbar-container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
    
    align-items: center;
}


.logo-img-container{
    display: flex;
}


  .menubar>ul{
    display: flex;
    align-items: center;
    
  }
     .menubar ul li{
      margin:0 10px;
      
     }
      
     .menubar ul li a{
      padding: 10px;
      transition:  all 0.4s;
      color: black;
     }
     .menubar ul li a:hover{
      color: white;
      background-color: black;
      border-radius: 10px;
     }
       
      
     

   .icon-only{
    display: flex;
    background-color: bisque;
   }
    
   .icon-only li {
    padding: 15px 5px;
    
   }

   .icon1{
    color: red;
   }
    .icon2{
      color: rgb(11, 209, 71);
    }

  .img1{
    width: 65px;


}

.logo-title{
    font-size: 30px;
    font-weight: bold;
    padding-left: 12px;
}

.span1{
    color: rgb(233, 8, 83);
}



               /*MENUBAR WORK ISNT FINISH*/



         /*BANNER CONTAINER DESINGING STARS*/



         .banner-container{
            display: flex;
            justify-content: space-around;
        
            align-items: center;
            padding: 50px;
         }




          .heading-play{
            font-size: 30px;
            padding: 10px 0;
        
           }



           .goal-para{
            font-size: 47px;
            font-weight: bolder;
            color:rgb(219, 41, 219);
            padding: 10px 0;
           }
         


            .play-paragraph{
             color: rgb(49, 47, 47);
             padding:8px 0;
             font-weight: bold;
             font-size: 12px;

            }

            
            .btn{
                margin: 10px 5px;
                padding: 15px;
                border: none;
                color: white;
                font-weight: bold;
                background-color: rgb(228, 33, 228);
                border-radius: 10px;
                transition: all 0.4s;
            }


            .btn:hover{
                background-color: black;
            }


            .btn1{
 
                margin: 10px 5px;
                padding: 17px;
                border: none;
                color: white;
                font-weight: bold;
                background-color:rgb(10, 205, 219);
                border-radius:20px;
                transition: all 0.4s;




            }

            .btn1:hover{
                background-color: black;
            }


            .group-img{
                width:420px;
            }



               /*BANNER CONTAINER DESINGING FINIS*/



                  /*ONLINE GAMES CONTAINER DESINGING STARS*/



                    .online-section{
                        text-align: center;
                    }



                  .online-games-container{
                    padding: 50px 80px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                  }












                  .img-on-line
                  {
                    width: 200px;
                    height: 250px;
                    border: 2px solid purple;
                    border-radius: 10px;
                  }

                .img-on-line:hover{
                    box-shadow: 2px 4px 6px 8px black;
                }


                 .on-line-img1{
                    width: 200px;
                    height: 250px;
                    border: 2px solid purple;
                    border-radius: 10px;
                  }

                  .on-line-img1:hover{
                    box-shadow: 2px 4px 6px 8px black;
                }



                
                  .online-img1{
                    position: relative;

                  }
 
                  .icon-with-play{
                   position: absolute;
                   top: 44%;
                   right: 50%;
                   transform: translate(50%,-50%);
                   
                  

                  }
              
                  

                

              



                  .play{
                   font-size: 40px;
                   color:rgb(255, 255, 254);

                  }

                  .play-para{
                    color:rgb(255, 0, 234);
                    font-weight: bolder;
                  }


                 
               
                   
                




                


                 .online-heading{
                    font-size: 30px;
                    font-weight: bold;
                    padding: 10px 0;

                  }

                  .span3{
                    color: rgb(190, 7, 226);
                  }

                  .online-paragraph{
                    font-size: 15px;
                    color: rgba(17, 14, 14, 0.623);
                  }



                  .online-img-paragraph{
                    padding: 5px 0;
                    color: rgba(17, 14, 14, 0.801);
                  }



                  /*ONLINE GAMES STYLE NOT FINISHED YET*/




                     /*INSTANLY WITH POSITION IMGA STARTS*/






         .play-instanly-container{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 80px 90px;
         }



          .instan-img{
            width: 350px;
          }
           
          .img11{
            width: 200px;

          }

            .instanly-img{
              position: relative;
            }

          .instan-img-child{
            position: absolute;
            left: -90px;
            bottom: -45px;
          
          }

   .instanly-heading{
    font-size: 30px;
    padding: 10px 0;
    

   }

.span4{
 color: blueviolet;


}

.instanly-paragraph{
  padding: 20px 0;
 color:rgba(17, 14, 14, 0.801);
}




        /*INSTANLY WITH POSITION IMGA ENDS*/








                     /*LIST OF  GAMES IMGA STARTS*/

              .list-games-section{
                padding: 90px 100px;
                background-color: cadetblue;
              }




                    .list-game-five{
                       display: flex;
                       justify-content: space-around;
                       }


                       .game-one,
                      .game-one2,
                     .game-one3{
                    
                      display: flex;
                      align-items: center;
                       
                      
                    
                          }

                     .game-img{
                      width: 40px;
                      
                     }
                      
                     .game-name{
                      font-size: 13px;
                      font-weight: bold;
                      margin: 0 5px;
                      color:black;
                     }
                     
                     .game-name1{
                      font-size: 13px;
                      font-weight: bold;
                      margin: 0 5px;
                      color: rgb(221, 11, 221);
                     }

                    
                     .game-one2{
                      border: 1px solid rgb(189, 14, 183);
                      padding: 5px;
                      border-radius: 30px;
                                          }
                     



             .list-game-four{
              display: flex;
              justify-content: space-around;
              align-items: center;

          }

          .other-game{
            margin: 30px 0;
            display:flex;
            align-items: center;
          }







          /*FOOETR DEGINIG STSRTS HERE*/



          footer{
            background-color: rgba(2, 23, 51, 0.719);
            padding: 50px 100px;
            background-image: url("./photos/cool-background\(1\).png"),linear-gradient(45deg,rgba(13, 13, 214, 0.781),rgba(31, 10, 219, 0.849));
            margin-bottom: 30px;
          
          }





          .logo-img-container2{
            display: flex;
            justify-content: center;
            padding: 30px 0;
            
          
          }


          .img2{
            width: 60px;
          }


          .logo-title2{
            font-size: 30px;
            color: white;
            font-weight: bolder;
            margin:0 10px ;
          }



          .footer-link>ul{
            display: flex;
            justify-content: center;
            gap: 40px;

          }


          .footer-link ul li a{
            color: white;
            font-weight: bold;
            font-size: 12px;
            padding: 2px;
            transition: all 0.4s;

            
          }

          .footer-link ul li a:hover{
            background-color: white;
            color: black;
            border-radius: 5px;
          }
          


          .footer-icon ul li a i{
            font-size: 32px;
            padding: 2px;
            transition: all 0.4s;

            
          }
           
          .footer-icon ul li a i:hover{
            background-color: white;
            border-radius: 5px;
          }



          .twit{
            color: rgb(13, 226, 226);

          }
          .face{
            color: rgba(0, 4, 255, 0.815);
          }
          .you{
            color: red;
          }

          .link{
            color: yellow;
          }

          .apple{
            color: rgba(248, 238, 238, 0.877);
          }

          .insta{
            color: rgb(189, 14, 183);
          }

          .footer-icon>ul{
            display: flex;
            justify-content: center;
            padding: 30px 0;
            gap: 30px;
          }


          .footer-terms ul li a{
            color: white;
            font-size: 10px;
            font-weight: bold;
            padding: 2px;
            transition: all 0.4s;


          }

          .footer-terms ul li a:hover{
            background-color: white;
            color: black;
            border-radius: 5px;
          }



          .footer-terms>ul{
            display: flex;
            justify-content: center;
            gap: 30px;
          }

          .footer-end{
            text-align: center;
            padding: 40px  0;
            font-size: 10px;
            color: antiquewhite;
          }



          /*END*/